<div class = "banner">
	<div class ="question">
		<h3><%= @question %></h3>
		<h5>You</h5>
	</div>

	<div class= "answer">
		<h3><%= @answer %></h3>
		<h5>your Coach</h5>
	</div>
</div>

<ul>
    <li><%= link_to "Ask a new question", ask_path %></li>
</ul>